<p id="notice"><%= notice %></p>

<h1>Endings</h1>

<table>
  <thead>
    <tr>
      <th>Ano</th>
      <th>Semestre</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @endings.each do |ending| %>
      <tr>
        <td><%= ending.ano %></td>
        <td><%= ending.semestre %></td>
        <td><%= ending.student %></td>
        <td><%= link_to 'Show', ending %></td>
        <td><%= link_to 'Edit', edit_ending_path(ending) %></td>
        <td><%= link_to 'Destroy', ending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ending', new_ending_path %>
