<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :course_nome %>
  </div>

  <div class="field">
    <%= form.label :abreviacao %>
    <%= form.text_field :abreviacao, id: :course_abreviacao %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site, id: :course_site %>
  </div>

  <div class="field">
    <%= form.label :modalidade %>
    <%= form.text_field :modalidade, id: :course_modalidade %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :course_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
